<div class="edit">
    <form #editForum="ngForm" (ngSubmit)="edit()">
        <h2>{{onebook?.title}}</h2>
        <img src={{onebook?.img}} alt="" />
        <div>
            <label htmlFor="img">Image:</label>
            <input type="text" name="img" [(ngModel)]="model.img" #img="ngModel" required />
        </div>
        <h4>CATEGORIES</h4>
        <div class="categories" *ngFor="let x of categories">
            <div class="categories-item">
                <label>{{x}}</label>
                <input [(ngModel)]="model.checked.x" type="checkbox" name={{x}} value={{x}} />
            </div>
        </div>

        <div class="description">
            <label for="text">
                <h4>DESCRIPTION</h4>
            </label>
            <br />
            <textarea name="description" id="text" cols="30" rows="10" [(ngModel)]="model.description"
                #description="ngModel"></textarea>
        </div>

        <div>
            <input type="submit" value="Edit book" />
            <input type="button" value="Exit" />
        </div>
    </form> -->
</div>