<div id="header">
  <nav>
    <ul>
      <ul>
        <li>
          <a
            routerLink="/books/books-list"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            BOOKS</a
          >
        </li>

        <li>
          <a
            routerLinkActive="active"
            routerLink="/books/books-list"
            [queryParams]="{ view: 'row' }"
            queryParamsHandling="merge"
          >
            <i class="fa-solid fa-grip"></i
          ></a>
        </li>
        <li>
          <a
            routerLinkActive="active"
            routerLink="/books/books-list"
            [queryParams]="{ view: 'column' }"
            queryParamsHandling="merge"
          >
            <i class="fa-solid fa-grip-vertical"></i
          ></a>
        </li>
      </ul>

      <li *ngIf="isAuth">
        <a routerLink="/books/my-books" routerLinkActive="active">MY BOOKS</a>
      </li>

      <li>
        <a routerLink="/books/add" routerLinkActive="active">ADD BOOK</a>
      </li>
      <ul *ngIf="!isAuth">
        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>

      <ul *ngIf="isAuth">
        <li>Welcome, {{ auth.getAuth()?.data.user.name }}!</li>
        <li>
          <a routerLink="/" (click)="logout()">Logout</a>
        </li>
      </ul>
    </ul>
  </nav>
</div>
