<div id="header">
    <nav>
        <ul>

            <li>

                <div>BOOKS</div>

            </li>


            <!-- <div className="user-items">
                  {auth?.user ? <NavLink to="/mybooks">My books</NavLink> : ""}
                  {auth?.user ? <NavLink to="/myvotelist">My votes</NavLink> : ""}
                  {auth?.user ? <NavLink to="/myreviewlist">My review </NavLink> : ""}
                </div> -->


            <!-- <ul>
                <li>Welcome, {auth?.user?.name}!</li>
                <li>
                   
                    <div>Logout</div>
                  
                </li>
            </ul> -->

            <ul>
                <li>
                    <!-- <Link to="/login"> -->
                    <div>Login</div>
                    <!-- </Link> -->
                </li>
                <li>
                    <!-- <Link to="/register"> -->
                    <div>Register</div>
                    <!-- </Link> -->
                </li>
            </ul>


        </ul>
    </nav>
</div>