#header {

    width: 95vw;
    padding: 0 4rem;
    margin: auto;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 2px solid;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: block;
    padding: 0 1rem;
}

a {
    text-decoration: none;
}

.fa-solid {
    font-size: 1.3rem;
    padding: 0 0.25rem;
}