<div class="mybooks" *ngFor="let vote of list; index as i">
  <div class="img">
    <img src={{vote?.img}} alt="" />
  </div>
  <div class="title">
    <a [routerLink]="['/books/book-info', vote.book_id]">
      <h1>{{vote?.title}}</h1>
    </a>
  </div>
  <div *ngIf="vote.rating">
    <ng-rating-bar [rating]="vote.rating" (ratingChanged)="onRatingChanged($event, vote.id)" size="22px">
    </ng-rating-bar>
    <!-- <ng-rating-bar [disabled]="true" [rating]="vote.rating" size="22px"></ng-rating-bar> -->
  </div>
  <div *ngIf="!vote.rating">
    <button *ngIf="!clicked" (click)="clicked=true">Rate this book</button>
    <div *ngIf="clicked">
      <ng-rating-bar [rating]="0" (ratingChanged)="onRatingChanged($event,vote.id)" size="22px">
      </ng-rating-bar>
    </div>
  </div>
  <!--  -->
  <!-- <form #voteForum="ngForm" (ngSubmit)="vote()">
    <textarea id="aaa" [(ngModel)]="model.review" [ngModelOptions]="{standalone: true}"></textarea>
    <input type="submit" value="Save" />
  </form> -->

</div>