.login {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem;
    max-width: 60rem;
    font-size: 1.5rem;
}

div {
    text-align: center;
    min-height: 3rem;
}

form {
    min-width: 45rem;
    border: 2px solid #090;
    padding: 2rem;
}

form label {
    font-weight: bold;
    width: 10rem;
}


.input {
    display: flex;
    margin: 1rem 2rem;
}

.allerr {
    min-width: 20rem;
}

.err {
    color: red;
}