.login {
    max-width: 50rem;
    margin: 5rem auto;
    font-size: 1.5rem;
}

div {
    text-align: center;
    min-height: 3rem;
}

form {
    width: 50rem;
    margin: auto;
    border: 2px solid #090;
}

form label {
    font-weight: bold;
}

input {
    margin: 1rem 2rem;
}

input:hover {
    background-color: aliceblue;
}

input:focus+.actions {
    border-color: #090;
}

div:last-of-type input {

    font-weight: bold;
    border: 1px solid;
    background-color: aliceblue;
    border-color: rgb(208, 228, 246);
    cursor: pointer;
}

div:last-of-type input:hover {

    border: 1px solid;
    background-color: rgb(196, 215, 231);
    border-color: rgb(80, 93, 105);
}

div.err {
    color: red;
}