.main {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.books-list {
    width: 95%;
    background-color: aliceblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem;
}

#allBooks {
    width: 100%;
}