.main {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.books-list {
    width: 95%;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 0 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem;
}

#allBooks {
    width: 100%;
}

#allBooks ::ng-deep .ngx-pagination .current {
    background: #f3712e;
}