<!-- {{this.catArr?.length}} -->
<div className="aside">
  <div className="categories">
    <h2>CATEGORIES</h2>

    <div className="item-categories">

      <ul *ngFor="let cat of allCategoris">
        <li><a routerLinkActive="active" routerLink="/books/books-list" [queryParams]="{ category: cat }"
            queryParamsHandling="merge">{{cat}}</a>
        </li>
      </ul>
    </div>

    <div className="sort">
      <h2>RATING</h2>
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="/books/books-list" [queryParams]="{ sort:'most-rated' }"
            queryParamsHandling="merge">Most read books</a>
        </li>

        <li>
          <a routerLinkActive="active" routerLink="/books/books-list" [queryParams]="{ sort:'highest-rated' }"
            queryParamsHandling="merge">Highest rated books</a>
        </li>
      </ul>
    </div>
  </div>


</div>


<!-- <div className="sort">
      <h1>Rating</h1>
      <ul>
        <li>
          <Link
            to="?sort=sortCount"
            className={isActive1 ? activeClassName : ""}
          >
            Most read books
          </Link>
        </li>

        <li>
          <Link
            to="?sort=sortAv"
            className={isActive2 ? activeClassName : ""}
          >
            Highest rated books
          </Link>
        </li>
      </ul>
    </div> -->