<div class="aside">
  <div class="categories">
    <h2>CATEGORIES</h2>

    <div class="item-categories">
      <ul *ngFor="let cat of allCategoris">
        <li>
          <!-- [routerLinkActiveOptions]="{ exact: true }" -->
          <a
            routerLinkActive="active"
            routerLink="/books/books-list"
            [queryParams]="{ category: cat }"
            queryParamsHandling="merge"
            >{{ cat }}</a
          >
        </li>
      </ul>
    </div>

    <div class="sort">
      <h2>RATING</h2>
      <ul>
        <li>
          <!-- [routerLinkActiveOptions]="{ exact: true }" -->
          <a
            routerLinkActive="active"
            routerLink="/books/books-list"
            [queryParams]="{ sort: 'most-rated' }"
            queryParamsHandling="merge"
            >Most read books</a
          >
        </li>

        <li>
          <!-- [routerLinkActiveOptions]="{ exact: true }" -->
          <a
            routerLinkActive="active"
            routerLink="/books/books-list"
            [queryParams]="{ sort: 'highest-rated' }"
            queryParamsHandling="merge"
            >Highest rated books</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
