<h1>User Ratings</h1>
<div class="user-rating">
  <div class="user-rating-left">
    <div>{{ r2.toFixed(2) }}</div>
    <div>{{ r1 }} votes</div>
    <ng-rating-bar [rating]="r2" [disabled]="true" size="22px"></ng-rating-bar>
  </div>
  <div class="user-rating-right">
    <ng-container *ngFor="let x of [5, 4, 3, 2, 1]">
      <div class="right-row">
        <div>{{ x }} <i class="fa-solid fa-star"></i></div>
        <div class="bar-container">
          <div
            *ngIf="r1"
            class="bar"
            [style.width]="(arr1[x - 1] * 100) / r1 + '%'"
          ></div>
        </div>
        <div>{{ arr1[x - 1] }}</div>
      </div>
    </ng-container>
  </div>
</div>
<h1>User Reviews</h1>
<div class="rev" *ngFor="let rev of arr2">
  <div *ngIf="rev.r2">{{ rev.user }}</div>
  <div *ngIf="rev.r2" class="user">
    <ng-rating-bar
      [rating]="rev.r2"
      [disabled]="true"
      size="22px"
    ></ng-rating-bar>
    <div>{{ rev.review }}</div>
  </div>
</div>
