<div class="addbook">
  <form class="find-form" #findForm="ngForm" (ngSubmit)="findbook()">
    <fieldset>
      <legend>SEARCH BOOK IN GOOGLE BOOKS</legend>
      <label htmlFor="isbn">Enter isbn:</label>
      <input
        required
        id="isbn"
        type="text"
        name="isbn"
        [(ngModel)]="model.isbn"
        #isbn="ngModel"
        required
      />
      <input type="submit" value="Find book" />
    </fieldset>
  </form>

  <div *ngIf="isbn.touched" class="add-form">
    <h1 *ngIf="!onebook?.id || !isbn.touched" class="err">ISBN not found</h1>
    <div *ngIf="onebook?.id">
      <h1 *ngIf="flag">Book already in database!</h1>
      <div *ngIf="!flag">
        <h1>{{ onebook?.title }}</h1>
        <form #addForm="ngForm" (ngSubmit)="savebook()">
          <h4>CATEGORIES</h4>
          <ul class="categories">
            <li *ngFor="let item of list">
              <input
                type="checkbox"
                [(ngModel)]="item.checked"
                [ngModelOptions]="{ standalone: true }"
              />{{ item.title }}
            </li>
          </ul>
          <input type="submit" value="Add book" />
        </form>
      </div>
    </div>
    <input type="button" (click)="findForm.reset()" value="Find another book" />
    <input type="button" (click)="exitBtn()" value="Exit" />
  </div>
</div>
