.addbook {
    width: 80vw;
    margin: auto;
    text-align: center;
}

form {
    margin: 3rem;
}

.find-form {
    padding: 5rem 0;
}

fieldset,
legend {
    background: #f9f9f9;
}

fieldset {
    width: 100%;
    padding: 2.5em 2em 2em 2em;
    position: relative;
    border: 2px solid;
    margin: auto;
}

legend {
    padding: 0.5rem 1rem;
    left: 50%;
    top: -1.4rem;
    position: absolute;
    transform: translateX(-50%);
    border: 3px solid;
}

.categories {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    width: 20%;
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.add-form {
    width: 80%;
    margin: auto;
    padding-bottom: 5rem;
}

h1 {
    width: 100%;
    color: red;
    margin-bottom: 3rem;
}

*.categories-item {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.categories-item:hover {
    background-color: rgba(246, 237, 237);
}

.categories input {
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
}