/* You can add global styles to this file, and also import other style files */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img, */
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

button,
input[type="submit"],
input[type="button"],
.already-read {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    margin: 0 1rem 1rem 0;
    padding: 0.5rem 1rem;
    line-height: 1;
    background: #ece2e2;
    font-size: 1.3rem;
    border-radius: 0.7rem;
}

button:hover,
button:focus,
input:hover,
input:focus {
    border: 1px solid #f3712e;
    color: #f3712e;
    background: transparent;
}

.button {
    color: #f3712e;
    font-weight: bold;
}

a {
    color: #000000;
    text-decoration: none;
    font-style: oblique;
}

a:hover {
    color: #f3712e;
}

.active {
    color: #f3712e;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

input,
textarea {
    border-radius: 0.7rem;
    box-shadow: initial;
    border: 1px solid black;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    border-color: #f3712e;
}