<div class="book-item">
    <div class="img">
        <a [routerLink]="['/book-info', book.id]"><img src={{book.img}} alt="" /></a>
    </div>

    <div class="title">
        <a [routerLink]="['/book-info', book.id]">{{book.title}}</a>
    </div>

    <!-- <div class="title">
        {{book.title}}
    </div> -->
    <div class="author">
        <ng-rating-bar [rating]="averageRating" [disabled]="true" size="30px"></ng-rating-bar>
        <!-- {{book.rating}}
        rating:{{this.averageRating}}/
        {{this.ratingCount}} -->
    </div>
</div>