<div class="book-item">
  <div class="img">
    <a [routerLink]="['/books/book-info', book.id]"><img src={{book.img}} alt="" /></a>
  </div>

  <div class="title">
    <a [routerLink]="['/books/book-info', book.id]">{{book.title}}</a>
  </div>

  <div>
    <ng-rating-bar [disabled]="true" [rating]="r2" size="22px">
    </ng-rating-bar>
    <!-- <ng-rating-bar [animateOnHover]="false" [disabled]="dis" (ratingChanged)="onRatingChanged($event)" size="22px">
    </ng-rating-bar> -->
  </div>

  <div *ngIf="isAuth">
    <span *ngIf="readBook" class="button">Read</span>
    <button type="button" *ngIf="!readBook" (click)="onReadHendler()">
      Read
    </button>
  </div>
  <!-- {auth?.isLoggedIn ? (
        auth.user.booksRead.includes(props.id) ? (
          <span className="button">Read</span>
        ) : (
          <button type="button" onClick={onReadHendler}>
            Read
          </button>
        )
      ) : (
        ""
      )} -->
</div>