<div class="book-item">
  <div class="img">
    <a [routerLink]="['/books/book-info', book.id]"
      ><img src="{{ book.img }}" alt=""
    /></a>
  </div>

  <div class="title">
    <a [routerLink]="['/books/book-info', book.id]">{{ book.title }}</a>
  </div>

  <div>
    <ng-rating-bar [disabled]="true" [rating]="book.avg" size="22px">
    </ng-rating-bar>
  </div>

  <div *ngIf="isAuth">
    <span *ngIf="readBook" class="button">Read</span>
    <button type="button" *ngIf="!readBook" (click)="onReadHendler()">
      Read
    </button>
  </div>
</div>
