.book-item {
    width: 280px;
    background-color: rgb(253, 247, 247);
    margin: 1rem 2rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.book-item:hover {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.398);
}

a {
    text-decoration: none;
}

div>span {
    margin: 0.5rem auto;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    height: 1.8rem;
    line-height: 1;
    margin: 1rem 0;
    overflow: hidden;
    word-wrap: break-word;
}

.title a:hover {
    color: #f3712e;
}

.author {
    font-style: italic;
    font-size: 1.5rem;
}

.img {
    width: 160px;
    height: 220px;
    overflow: hidden;
    margin: 2rem auto;
}

img {
    width: 100%;
}

img:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.already-read {

    background: transparent;
    cursor: default;

}